flex-version = flex
support-for-ie = false
vendor-prefixes = official
@import 'nib'

rem() {
  remified = ()
  for arg in arguments {
    push(remified, unit(arg/16, 'rem'))
  }
  return remified
}

min_size()
  min-width arguments[0]
  min-height arguments[1] || arguments[0]

max_size()
  max-width arguments[0]
  max-height arguments[1] || arguments[0]

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}

// Breakpoints
xs = 481px // 481...767px
sm = 768px // 768...991px
md = 992px // 992...1199px
lg = 1200px // 1200...1599px
xl = 1600px // >1600px

html
  font-size 16px

body
  font-family 'Roboto', sans-serif