mixin svg(id,cls)
    -var cls = cls ? ' ' + cls : ''
    svg(class="icon icon-" + id + cls)
        use(xlink:href="assets/images/sprite.svg#icon-" + id)
head
    meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no,maximum-scale=1')
    title [*titl*]
    base(href='[(site_url)]')
    meta(name='description', content='[*desc*]')
    meta(name='keywords', content='[*keyw*]')
    meta(property='og:title', content='[*titl*]')
    meta(property="og:description" content="[*desc*]`]")
    meta(property='og:type', content='website')
    meta(property='og:url', content='[(site_url)][~[*id*]~]')
    meta(property='og:image', content='assets/images/logo.png')
    meta(name="theme-color" content="#fff")
    link(rel='stylesheet' href='assets/css/vendor.min.css')
    link(rel='stylesheet' href='assets/css/common.min.css')