@font-face {
    font-family: 'VAG World';
    src: url('hinted-VAGWorld-Bold.eot');
    src: local('VAG World Bold'), local('VAGWorld-Bold'),
        url('hinted-VAGWorld-Bold.eot?#iefix') format('embedded-opentype'),
        url('hinted-VAGWorld-Bold.woff2') format('woff2'),
        url('hinted-VAGWorld-Bold.woff') format('woff'),
        url('hinted-VAGWorld-Bold.ttf') format('truetype'),
        url('hinted-VAGWorld-Bold.svg#VAGWorld-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

